<!-- your_events.html -->
{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Your RSVP'd Events</h1>
    <ul class="list-group">
      {% if rsvps %}
        {% for rsvp in rsvps %}
          <li class="list-group-item">
            <a href="{{ url_for('post', post_id=rsvp.post.id) }}">{{ rsvp.post.title }}</a>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">You haven't RSVP'd to any events yet.</li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
